.table{
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 500px;
  background-color: #00ffea;
  border-radius: 5px;
}
.head-table{
  display: flex;
  height: 50px;
  width: 800px;
  background-color: #2ac21c;
  border-radius: 5px;
}
.head-item{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 160px;
  font-size: 25px;
  color: beige;
}
.winner{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 800px;
  font-size: 25px;
  color: beige;
}