.header-admin {
  margin: 0 auto 95px;
  background-color: #00bf82;

  &__control {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
  }
}
.routing_btn {
  display: flex;
}
.btn-admin {
  justify-content: center;
  width: 241px;
  height: 61px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  border: none;
  background-color: inherit;
  border-radius: 5px;
  cursor: pointer;
}
.active{
  text-decoration-line: underline;
}
.btn-admin:hover {
  background-color: #3d925d;
}
