body{
    margin: 0 auto;
}
p{
    margin: 0;
}
h3{
    margin: 0;
}
.Online-zoo {
    display:none;
}

/*fonts*/
.contact-title{
    margin: 0;
    width: 405px;
    height: 66px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;
    color: #00A092;
}
.contact-text{
    margin-top: 50px;
    width: 545px;
    height: 162px;
    font-family: Montserrat;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    color: #000000;
}

/*header-menu*/

.background-header{
    display: flex;
    justify-content: center;
    background-color:#F58021; 
    margin-top: 0;
    height: 110px;
}

.wrapper{
    width: 1400px;
}

.wrapper-header{
    display: flex;
    flex-direction: column;
}

.headen-article{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo-header{
   margin-top: 30px;
}

.headen-nav{
    width: 556px;
    margin-right: 67px;
    margin-top: 42px;
}

.headen-list{
    display: flex;
    justify-content: space-between;
    margin: 0;
    list-style: none;
    padding: 0;
}

.headen-item a{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    letter-spacing: 0em;
    text-align: left;
}

.headen-item-onn a{
    color: #00A092; 
}

.header-links{
    width: 180px;
    margin-top: 33px;
}

.header-list-address{
    display: flex;
    justify-content: space-between;
    margin: 0;
    list-style: none;
    padding: 0;
}

.header-menu{
    display: flex;
}

.hamburger-menu {
    display: none;
}
input[type="checkbox"] {
    display: none;
}
@media screen and (min-width:1200px) and (max-width:1440px) {

    .headen-article{
        margin-left: 100px;
        margin-right: 100px;
    }
    .headen-nav{
        width: 481px;
        margin-right: 80px;
    }
    
    .wrapper{
        width: 1200px;
    }

}
@media screen and (min-width:640px) and (max-width:1199px) {

    .wrapper{
        width: 640px;
    }
    .headen-article{
        position: fixed;
        height: 108px;
        background-color: #F58021;
        z-index: 1;
    }
    .headen-nav{
        margin-right: 47px;
        width: 100%;
    }
    .hamburger-menu {
        display: block;
        margin-left: 447px;
        cursor: pointer;
    }
    .header-links {
        display: none;
    }
    
    .headen-nav > .headen-list {
        display: none;
    }
    .logo-online-zoo-header{
        margin-left: 20px;
    }

}
@media screen and (min-width: 320px) and (max-width: 639px) {

    .wrapper{
        width: 320px;
    }
    .hamburger-menu {
        display: block;
        margin-left: 146px;
        cursor: pointer;
    }
    .header-links {
        display: none;
    }
    
    .headen-nav > .headen-list {
        display: none;
    }
    .logo-online-zoo-header{
        margin-left: 20px;
    }
    .img-burger{
        width: 22px;
        height: 30px;
    }
    .headen-nav {
        width: 50%;
    }
}
/*main*/
.contact-background{
    display: flex;
    justify-content: center;
    /*height: 1874px;*/
    background: #ffffff;
}

.image-contact-us{
    margin: 0 auto;
    width: 1400px;
    height: 815px;
}
.contact-us-about-and-form{
    display: flex;
    margin-top: 150px;
}
.contact-us-form{
    margin-left: 175px;
}

.search{
    display: flex;
    flex-direction: column;
}
.send-message-bottom {
    margin-top: 59px;
    margin-bottom: 150px;
    width: 359px;
    height: 74px;
    border-radius: 5px;
    border: none;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    text-transform: uppercase;
}
.send-message-svg-left {
    padding-right: 36px;
    background-image: url(../../assets/icons/Union.svg);
    background-color: #00A092;
    background-position: 245px;
    background-repeat: no-repeat;
}
.area-input{
    margin: 10px 0 30px 0;
    padding-left: 20px;
    width: 680px;
    height: 60px;

    font-family: Montserrat;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #969696;

    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}
/*.area-input:invalid{
    background-color: red;
}*/
.error {
    display:none;
}

.area-input:invalid ~ .error {
    display: block;

}
.textarea-input{
    margin-top: 10px;
    margin-bottom: 0;
    width: 680px;
    height: 200px;
    padding: 20px;
    

    font-family: Montserrat;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #969696;

    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}
.info-input{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #000000;
}
.star{
    color: #00A092;
}
/*footer*/

.footer-backgroung {
    display: flex;
    justify-content: center;
    background-color: #20113D;
    height: 329px;
}
/*part1*/
.footer-menu{
    display: flex;
    justify-content: space-between;
    height: 214px;
    align-items: center;
}
.footer-logo-list{
    margin: 0;
    display: flex;
    justify-content: space-between; 
    width: 414px;
    list-style: none;
    padding: 0;
}

.footer-list-nav{
    display: flex;
    justify-content: space-between;
    margin: 0;
    list-style: none;
    padding: 0;
    width: 426px;
}
.donate-for-volunteers-submit{
    width: 359px;
    height: 74px;
    background: #20113D;
    border-radius: 5px;
    border: 1px solid #FFFFFF;

    font-family: Montserrat; 
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #F7F7F7;
    cursor: pointer;
    text-transform: uppercase;
}
.donate-for-volunteers-svg-submit {
    padding-right: 41px;
    background: url(../../assets/icons/Union.svg) no-repeat 0 0 transparent;
    background-position: 299px;
}
/*разделитель*/
.hr-footer {
    margin-top: 0px;
    border: none; 
    background-color: #FFFFFF; 
    height: 1px;
}
/*part2*/
.footer-adress-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 114px;
}
.footer-list{
    display: flex;
    justify-content: space-between;
    width: 448px;
    margin: 0;
    list-style: none;
    padding: 0;
}

.footer-list-address{
    display: flex;
    width: 200px;
    justify-content: space-between;
    margin: 0;
    list-style: none;
    padding: 0;
}

.foorer-item-menu a{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    letter-spacing: 0em;
}

.foorer-item-coop a{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    text-decoration: none;
}


/*animation*/

.headen-item a:hover{
    color:#00A092;
}

.link-online-zoo:hover{
    transform: scale(1.2);
    transition: 400ms;
    filter: alpha(Opacity=50);
    opacity: 0.5; 
}

.foorer-item-menu a:hover{
    color:#00A092;
}

.donate-for-volunteers-svg-submit:hover{
    background-color: #00A092;
}

.send-message-svg-left:hover{
    background-color: #05786E;
}