.stats{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 5px;
    box-sizing: border-box;
    max-width: 1200px;
}
.stats__control{
    display: flex;
    justify-content: flex-end;
    &__button{
        margin: 10px;
        padding: 5px;
        height: 35px;
        text-align: center;
        font-family: Roboto;
        font-size: 18px;
        border-radius: 5px;
        color: #ffffff;
        background-color: #007ea8;
        box-sizing: border-box;
        cursor: pointer;
    }
    &__button:hover{
        background-color:  #03a9f43d;
    }
}
th{
    border: 3px solid #03a9f43d; 
}
.table{
    &__stats{
        border: 3px solid #03a9f43d;
        border-collapse: collapse;
        font-family: 'Roboto';
    }
    &__title{
        padding: 5px;
        background: #aedbff;
        border: 1px solid #dddddd;
        font-size: 22px;
    }
    &__string{
        border: 1px solid red;
    }
    
}