/*best-score*/
.best-score{
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    width: 1000px;
    height: 802px;
    padding: 35px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}
.title-score{
    margin-bottom: 20px;
}
.player-score{
    padding: 10px 5px 5px 0;
    display: flex;
    justify-content: space-between;
    width: 850px;
    align-items: center;
    border: 1px transparent solid;
    border-bottom-color: rgba(33, 33, 33, 0.08);
}
.block-in-score{
    display: flex;
}
.image-of-player{
    width: 40px;
    border-radius: 50%;
}
.info-about-player{
    margin-left: 16px;
}
.mail-of-player{
    margin-top: 5px;
}
.score-points{
    margin-left: 10px;
    color: #2196F3;
}
.score-block{
    display: flex;
    align-items: center;
}