/*fonts*/
.Roboto-12-15{
    font-family: Roboto;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.4px;
}
.Roboto-12-16{
    font-family: Roboto;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
}
.Roboto-14-21{
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.25px;
}
.Roboto-14-28{
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
}
.Roboto-16-24{
    font-family: Roboto;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
}
.Roboto-500-11{
    font-family: Roboto;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 1.25px;
}
.Roboto-500-14{
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.25px;
}
.Roboto-500-20{
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.15px;
}